.profile{
  background-color: rgba(44, 88, 238, 0.66);
  background-image: url('/images/profile-bg.png');
  
  color: #FFF;

  height: 400px;
  width: 100%;
  padding: 15px;
  
  text-align: center;
}