.profile{
  /* Color */
  background-color: rgba(44, 88, 238, 0.66);
  background-image: url('/images/profile-bg.png');
  color: #FFF;

  /* Sizing */
  height: 400px;
  padding: 15px;
  text-align: center;
}

@media only screen and (min-width: 1100px) {
  .profile {

    display: inline-block;
    width: 50%;
    
    position: fixed;
    margin-top: 10vh;

    /* Fancy styling & transitions */
    box-shadow: 2px 2px 4px grey;
    margin-left: -15px;
    transition: margin-left 1s;
  }
  
  .profile:hover {
    margin-left: 0;
  }
}

